/* SideNavBar Styling */

.sideNavBar {
	max-width: 20vw;
	min-width: 20vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: linear-gradient(180deg, #1d4ed8 -27.02%, #ffffff 149.49%);
}

.digihealth {
	margin-top: 3vh;
	align-self: center;
	color: white;
}

.greetingBox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 10vh;
	width: 100%;
	margin-top: 7.5vh;
}

.greetingBox h4,
h3 {
	margin: 0 0 0 24px;
}

.greetingBox h4 {
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
}

.greetingBox h3 {
	font-size: 34px;
	line-height: 40px;
	font-weight: 600;
}

.statsContainer {
	display: flex;
	flex-direction: column;
	margin-top: 8vh;
	height: fit-content;
	width: 100%;
	padding: auto 24px;
}

.statsRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	padding: auto 16px;
	margin: 8px auto 8px 24px;
}

.statsRow h5 {
	font-size: 18px;
}

.largeButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 20px;
	width: 264px;
	height: 48px;

	/* Primary/Blue 500 */
	background: #1d4ed8;
	border-radius: 5px;
	color: white;
}

.smallButton {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 20px;
	width: 264px;
	height: 48px;
	margin-top: 16px;
	/* Primary/Blue 500 */
	background: #1d4ed8;
	border-radius: 5px;
	color: white;
}

.navButtonGroup {
	position: absolute;
	left: 24px;
	bottom: 17vh;
}

#avatarStoreButton {
	background-color: #f7ce46;
	color: #000000;
	text-decoration: none;
}

.about {
	position: absolute;
	bottom: 16px;
	left: 23px;
}

/* SideNavBar Styling */
